*{
    color: #5864ff;
}

.mainContainer{
    margin: 10%;
    padding: 10%;
    text-align: center;
    background-color: #bdc1fa;
    border-radius: 2%;
    border:2px solid #5864ff;
    background-image: url("image/jamil1.png");
    background-repeat: repeat;
}
div {
    box-shadow: 2px 2px 2px 2px;
    padding-top: 2%;
}
input{
    padding: 1%;
    margin: 2%;
    width: 200px;
    height: 35px;
    border: 2px solid #5864ff;
}
button{
    padding: 2%;
    width: 30%;
    margin: 2% 0 5% 0%;
    font-size: 12px;
    border: 3px solid #5864ff;
    background-color: white;
    border-radius: 10%;
}
button:hover{
    border : 3px solid white;
    background-color : #5864ff;
    color: white;
}
